# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# C extensions
*.so

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
.BIN/
.DS_Store
